<nav>
    <ul>
        <li><b>HOME</b></li>
        <li><b>JOGOS</b></li>
        <li><b>PARCEIROS</b></li>
        <li><b>SOBRE</b></li>
        <li><b>CONTA</b></li>
    </ul>
    <h1>GG</h1>
</nav>