<nav>
    <ul>
        <a href="/"><li><b>HOME</b></li></a>
        <a href="/games"><li><b>JOGOS</b></li></a>
        <a href="/partners"><li><b>PARCEIROS</b></li></a>
        <a href="/about"><li><b>SOBRE</b></li></a>
        <a href="/login"><li><b>LOGIN</b></li></a>
        <a href="/userregister"><li><b>CADASTRAR-SE</b></li></a>
        <a href="/useraccount"><li><b>CONTA</b></li></a>
    </ul>
    <h1>GG</h1>
</nav>