<%- include("partials/header.ejs") %>
<%- include("partials/navBar.ejs") %>

<div class="clear"></div>
<div class="container">
    <div class="container">
        <h2>Sobre nós</h2>
    </div>
</div>

<%- include("partials/footer.ejs") %>