<%- include("partials/header.ejs") %>
<%- include("partials/navBar.ejs") %>

<div class="clear"></div>
<div class="container">
    <h2>Sua conta</h2>
    --------------<br><br>
    <a href="/logout">Logout</a>
</div>

<%- include("partials/footer.ejs") %>