<%- include("partials/header.ejs") %>
<%- include("partials/navBar.ejs") %>

<div class="clear"></div>
<div class="container">
    <h2>Públicado recentemente</h2>
    --------------
    <h2>Em destaqu</h2>
    --------------
    <h2>Jogos</h2>
    --------------
</div>

<%- include("partials/footer.ejs") %>